$dark_brown :   #1a1919;
$choco_brown :  #4a4747;
$white :        #ffffff;
$red :          #F4772C;
$black :        #000000;
$aqua_blue :    #dcf2f3;
$light_brown :  #babab9;
$orange :       #ffa500;
$blue :         RGB(4,101,160);
$box_shadow :   RGB(18 63 82 / 4%); //Had to use upper case RGB to get SASS to ignore it.
$box_shadow_2 : RGB(176 181 193 / 20%); //Had to use upper case RGB to get SASS to ignore it.